<section>
  <div class="presentation">
    <article> 
      Découvrez <i>"Au Petit Village"</i>, votre boutique en ligne dédiée aux figurines du monde <i>d'Astérix et Obélix.</i> Plongez dans l'univers magique de nos irréductibles Gaulois à travers une vaste collection de figurines fidèlement reproduites, allant des héros emblématiques comme <i>Astérix, Obélix et Cléopâtre</i>, aux personnages secondaires tout aussi captivants.
      Chaque figurine est minutieusement détaillée pour capturer l'esprit et le charme de cette série légendaire, offrant aux collectionneurs et aux fans une expérience authentique et enrichissante. Que vous soyez un passionné de longue date ou un nouveau venu dans le monde <i>d'Astérix, "Au Petit Village"</i> a quelque chose pour tout le monde.
      Explorez notre catalogue et ajoutez une touche de magie gauloise à votre collection dès aujourd'hui!
    </article>
  </div>

  <div class="header-container">
    <h2>Figurines</h2>
    <p class="figure-count">Il y a {{ productCount }} produits.</p>
  </div>

  <div class="container">
    <div class="search">
      <h3>Filtrer par :</h3>
      <form>
        <p>Nom :</p>
        <div class="search-name">
          <input #input type="text" placeholder="Nom du produit">
          <button (click)="getInputValue()">
            <fa-icon class="search-icon" [icon]="faMagnifyingGlass"></fa-icon>
          </button>
        </div>

        <div class="select-price">
          <p>Prix :</p>
          <select name="price" id="price-select" [(ngModel)]="sorting">
            <option value="">Trier par prix</option>
            <option value="asc">Croissant</option>
            <option value="desc">Decroissant</option>
          </select>
        </div>

        <fieldset>
          <legend>Tag :</legend>
          <div class="checkbox-container">
            <div>
              <input
              type="checkbox"
              id="limited-edition"
              name="limited-edition"
              value="Edition limitée"
              #limitedEdition
              (click)="getCheckBoxValue()"
              />
              <label for="limited-edition">Edition limitée</label>
            </div>
          
            <div>
              <input
                type="checkbox"
                id="new"
                name="new"
                value="Nouveau"
                #new
                (click)="getCheckBoxValue()"
              />
              <label for="new">Nouveau</label>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="master-container-figures">
      <div class="not-found" #notFound>
        <fa-icon class="icon-sad" [icon]="faFaceSadTear"></fa-icon>
        <p>Aucun produit ne correspond à votre recherche.</p>  
      </div>

      <div class="container-figures" #divElement>
        <div class="content" *ngFor="let figure of figure | filterByTag : tag | filterByName : searchTerm | sortByPrice : sorting" >
              <a routerLink="/product/{{ figure.id }}">
                <p>
                  <fa-icon [icon]="faTag"></fa-icon>
                  {{ figure.tag }}
                </p>
                <img
                  src="./assets/images/figurines/{{ figure.image.src }}"
                  alt="{{ figure.image.alt }}"
                  width="200px"
                />
                <h3>{{ figure.name }}</h3>
                <p>{{ figure.price }} €</p>
            </a>
            <button>Ajouter au panier</button>        
        </div>
      </div>
    </div>
  </div>
</section>
