<header (window:resize)="toggleMenu($event)">
  <nav class="header-topnav">
    <div class="header-container">
      <a routerLink="/">
        <img
          class="logo"
          src="./assets/images/logo.png"
          alt=""
        />
      </a>
      <!-- <h1>Au Petit Village</h1> -->
      <a (click)="toggleMenu()" class="icon">
        <fa-icon [icon]="icon" class="menuIcon"></fa-icon>
      </a>
    </div>

    <div class="topnav-menu">
      <ul #el>
        <li>
          <a routerLink="/">
            <fa-icon [icon]="faHouse"></fa-icon>
            Accueil
          </a>
        </li>
        <li>
          <a routerLink="/about">
            <fa-icon [icon]="faPeopleGroup"></fa-icon>
            À propos
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
