
.header-topnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DA001E;
    background-color: #FDD90B;  
    padding: 0 3rem;
    }

.header-container{
    padding: .5rem 2rem;
    width: 100%;
    background-color: #FDD90B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-container img{
    width: 30%;
}
/* .header-container h1{
    font-size: 3em;
    width: 100%;
    color:#DA001E;
    letter-spacing: 10px;
} */


.topnav-menu{
    text-align: center;
    /* border: 1px solid #FDD90B ; */
    width: 100%;
    text-align: right;
}

.topnav-menu ul{
    display: block;
    margin-right: .5rem;
}

.topnav-menu ul li{
    display: inline-block;
    padding: 1rem 1em;
    font-size: 1.2em;
}

.topnav-menu ul li:hover{
    background-color: rgba(255, 255, 255, .3);
}


.topnav-menu ul li a{
    text-decoration: none;
    color: inherit;
    
}

.menuIcon{
    font-size: 1.5em;
    display: none;
}

fa-icon{
    margin-right: 15px;
}

@media screen and (max-width: 768px) {

    body{
        overflow: hidden;
    }

    .header-topnav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .menuIcon{
        display: block;
    }

    .topnav-menu{
        width: 100%;
    }

    .topnav-menu ul{
        width: 100%;
    }

    .header-container{
        width: 100%;
    }

    .logo{
        width: 100px;
    }

    .topnav-menu ul li{
        display: block;
        font-size: 1rem;
        border-radius: 0;
        border-bottom: 1px solid #DA001E;
        text-align: left;
        background-color: #FDD90B;
    }


}