
.header-topnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DA001E;
    background-color: #FDD90B;  
}

.header-container{
    padding: 0 2rem;
    width: 50%;
    background-color: #FDD90B;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.header-container h1{
    font-size: 3em;
    margin-right: 1rem;
    width: 100%;
    text-align: center;
    color: #DA001E; 
    text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72; 
    letter-spacing: 10px;
    
}


.topnav-menu{
    text-align: center;
    /* border: 1px solid #FDD90B ; */
    width: 50%;
}

.topnav-menu ul{
    display: block;
    margin-right: .5rem;
}

.topnav-menu ul li{
    display: inline-block;
    padding: 1rem 1em;
    font-size: 1.5em;
}

.topnav-menu ul li:hover{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .3);

}


.topnav-menu ul li a{
    text-decoration: none;
    color: inherit;
    
}

.menuIcon{
    font-size: 1.5em;
    display: none;
}

fa-icon{
    margin-right: 15px;
}

@media screen and (max-width: 768px) {

    body{
        overflow: hidden;
    }

    .header-topnav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .menuIcon{
        display: block;
    }

    .topnav-menu{
        width: 100%;
    }

    .topnav-menu ul{
        width: 100%;
    }

    .header-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: right;
        width: 100%;
        padding: 0 2rem;
    }

    .logo{
        width: 100px;
    }

    .header-container h1{
        display: none;
    }

    .topnav-menu ul li{
        display: block;
        font-size: 1rem;
        border-radius: 0;
        border-bottom: 1px solid #DA001E;
        text-align: left;
        background-color: #F9D0A3;
    }


}