<section class="about">
    <div class="about-container">
        <div class="about-image">
            <img src="./assets/images/image.png" alt="" width="50%">
        </div>
        <h2>Qui sommes-nous</h2>
        <p class="text-format">Bienvenue sur <i>"Au Petit Village"</i>, votre destination de choix pour des figurines artisanales inspirées par la bande dessinée légendaire <i>Astérix et Obélix.</i></p>
        <div class="about-content">
            <h3>Notre Histoire</h3>
            <article class="text-format">
                Né de la passion pour <strong>l'univers des Gaulois</strong> et des aventures captivantes <i>d'Astérix, "Au Petit Village"</i> a été fondé par des artisans dévoués à recréer la magie de ces personnages emblématiques. Depuis notre création, nous nous efforçons de capturer l'essence de cette série iconique à travers des figurines de haute qualité, fabriquées avec soin et précision.   
            </article>
        </div>

        <div class="about-content">
            <h3>Notre Mission</h3>
            <article class="text-format">
                Notre mission est de donner vie aux personnages et aux scènes emblématiques de la bande dessinée <i>Astérix et Obélix</i>, en proposant des figurines qui raviront les collectionneurs et les fans de tous âges. Chaque pièce est conçue avec une attention minutieuse aux détails, garantissant une fidélité maximale aux dessins originaux de <strong>René Goscinny et Albert Uderzo.</strong>
            </article>
        </div>

        <div class="about-content">
            <h3>Notre Engagement</h3>
            <article class="text-format">
                Chez <i>"Au Petit Village"</i>, nous sommes engagés à fournir des figurines de la plus haute qualité. Nos artisans utilisent des matériaux durables et respectueux de l'environnement, et chaque figurine est peinte à la main pour assurer un rendu unique et authentique. Nous sommes fiers de notre héritage artisanal et de notre dévouement à l'excellence.
            </article>
        </div>

        <div class="about-content">
            <h3>Rejoignez-Nous</h3>
            <article class="text-format">
                Nous vous invitons à explorer notre collection et à découvrir la magie des Gaulois à travers nos créations. Que vous soyez un collectionneur chevronné ou un nouvel amateur de l'univers <i>d'Astérix, "Au Petit Village"</i> a quelque chose d'unique à offrir.
                <br>
                <br>
                <strong>Merci de faire partie de notre aventure gauloise !</strong>
            </article>
        </div>
    </div>
</section>

